
#burger {
    z-index:2;
    margin-left:35vh;
    margin-top:5vh; 
    position:fixed;  
    top: 0;
    left:0; 
    overflow-x: hidden;
    background-image: url(./img/Frankenstein_logo.png);
}
   /* ajouté suite au clic sur le logo */
    
.Onit{
    z-index:4;
    height:100vh;
    width: 35vh;
    background-image: url(./img/Frankenstein.jpg);
    padding-top: 55vh; 
}
/* Pour icone menu */
.icone2{
    height: 13vh;
    width: 13vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(26,26,26,0);
    border: 0px;
    cursor: pointer; 
    border: none;
    outline: none;   
}
.icone2:hover{
    height: 15vh;
    width: 15vh;
}
/* Pour tout les icones */
.icone{
    height: 8vh;
    width: 4vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(26,26,26,0);
    border: 0px;
    cursor: pointer; 
    border: none;
    outline: none;
    font-family: "Titre", serif;
    font-size: 2rem;
    color: yellow;
    text-shadow: 4px 4px orangered;  
}
   
/* Coloration des titres des liens */
.lienNavBar {
    color: #FFD45C;
    padding-left: 2vh;
    width: 25vh;
    display: inline-block;
    text-align: left;  
}
.hidden {
    display: none;
    width: Opx;
    height: Opx;
  }


    /*Responsive pleine page version portable  */
@media screen and (max-width:720px){
    .Onit {
        width: 100vh;
        top: 0;
        left:0;
        overflow-x: hidden; /* Disable horizontal scroll */
        height: 100vh;
        background-color: rgb(26,26,26); 
    }
    .icone{
        height: 10.5vh;
        width: 10vh;     
        }
    .lienNavBar {
        color: #FFD45C;
        padding-left: 16vh;
        width: 100vh;
        display: inline-block;        
    }
    strong {
        font-size: 2vh;
    }
}