<div class="container-fluid no-gutters page-accueil">
  <div class="container-fluid no-gutters">
    <div class="row Space">
    </div>
    <div class="title d-flex justify-content-center">HELLOWEEN</div>
  </div>
  <div class="container-fluid no-gutters">
    <div class="row Space"></div>
    <div class="col-12 offset-sm-1  col-sm-10 offset-sm-1 offset-lg-3 col-lg-6 offset-lg-3 regles">
      <p class="texteRegles text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut labore et dolore magna aliqua.</p>
    </div>
    <div class="row Space"></div>
    <div class="col-12 offset-sm-1  col-sm-10 offset-sm-1 offset-lg-3 col-lg-6 offset-lg-3 regles">
      <p class="texteRegles text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut labore et dolore magna aliqua.</p>
    </div>
    <div class="row Space"></div>
    <button id="button" class="col-12 offset-sm-1  col-sm-10 offset-sm-1 offset-lg-3 col-lg-6 offset-lg-3 start"></button>
  </div>
</div>
